#student_dashboard {
    padding: 7%;
}

#student_dashboard h1 {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 1vh;
}

#dashboard_start {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}

#main_dashboard {
    width: 85%;
}

#download_files {
    display: flex;
    margin-top: 2vh;
    flex-wrap: wrap;
}

.material_card h2 {
    font-weight: 500;
    font-size: 1.5rem;
    color: #2E2E2E;
    margin-top: 2vh;
}

.file_box {
    border: 1px solid #D9D9D9;
    padding: 0.3rem 1rem;
    margin-right: 2%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-bottom: 1vh;
}

.file_box p {
    font-weight: 400;
    font-size: 1.2rem;
}

.file_box i {
    color: #00758F;
    font-weight: 400;
    font-size: 1.2rem;
}

.material_card {
    padding-bottom: 2vh;
    border-bottom: 1px solid black;
}

.manage_buttons {
    display: flex;
    width: 10%;
    justify-content: space-between;
}