{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/add_assignment.css' %}">
{% endblock head %}

{% block title %}Create Assignment{% endblock title %}

{% block main %}
<div id="student_dashboard">
    <h1>Create Assignment</h1>
    <div id="dashboard_start">
        <div id="main_dashboard">
            <form action="/manage/{{course.semester_code}}-{{course.code}}/assignments/add" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Name :</p>
                <input type="text" name="name" placeholder="Name" required>
                <p>Max. Marks :</p>
                <input type="number" name="max_marks"required>
                <p>Content :</p>
                <textarea name="content" placeholder="Content" required></textarea>
                <p>File :</p>
                <input type="file" name="assignment">
                <p>Due Date :</p>
                <input type="date" name="due_date" required>
                <input type="time" name="due_time" required>
                <p>Contribution :</p>
                <input type="number" name="contribution" required>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
{% endblock main %}