{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/add_material.css' %}">
{% endblock head %}

{% block title %}Add Announcement{% endblock title %}

{% block main %}
<div id="student_dashboard">
    <h1>Add Announcement</h1>
    <div id="dashboard_start">
        <div id="main_dashboard">
            <form action="/manage/{{course.semester_code}}-{{course.code}}/materials/add" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Title :</p>
                <input type="text" name="title" placeholder="Title" required>
                <p>Upload File :</p>
                <input type="file" name="material" required>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock main %}