{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/course.css' %}">
{% endblock head %}

{% block title %}Courses - {{course.code}}{% endblock title %}

{% block main %}
<div id="student_nav">
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/courses" class="active_student_nav">Courses</a></li>
        <li><a href="/grades">Grades</a></li>
        <li><a href="/assignments">Assignments</a></li>
        <li><a href="/messages">Messages</a></li>
    </ul>
    <a href="/logout" id="logout">Logout</a>
</div>
<div id="student_dashboard">
    <h1>{{course.code}} - {{course.name}}</h1>
    <div id="dashboard_start">
        <div id="main_dashboard">
            <div id="course_info">
                <table>
                    <tr>
                        <td><i class="fa-solid fa-clock"></i> Slot: {{course.slot}}</td>
                        <td><i class="fa-solid fa-book"></i> &nbsp;{{course.credits}} Credits</td>
                        <td><i class="fa-solid fa-database"></i> &nbsp;{{course.credit_structure}}</td>
                    </tr>
                    <tr>
                        <td><i class="fa-solid fa-university"></i> {{course.department}}</td>
                        <td><i class="fa-solid fa-users"></i> {{course.students.count}} Students</td>
                        {% if course.prerequisite %}
                        <td><i class="fa-solid fa-history"></i> {{course.prerequisite.code}}</td>
                        {% else %}
                        <td><i class="fa-solid fa-history"></i> None</td>
                        {% endif %}
                    </tr>
                </table>
            </div>
            <a href="/media/{{course.course_intro}}" id="course_intro">Course Introduction</a>
            <div id="course_updates">
                <h3>Announcements</h3>
                {% for announcement in announcements %}
                <p><a href="/announcements/{{course.code}}" class="course_update">{{announcement.title}}: {{announcement.description|truncatewords:20}}</a></p>
                {% endfor %}
            </div>
        </div>
        <div id="side_menu">
            <div id="course_nav">
                <h2>Navigation</h2>
                <p><a href="/announcements/{{course.code}}">Announcements</a></p>
                <p><a href="/courses/{{course.code}}/material">Course Materials</a></p>
                <p><a href="/assignments/{{course.code}}">Assignments</a></p>
                <p><a href="/grades/{{course.code}}">Grades</a></p>
                <p><a href="/courses/{{course.code}}/participants">Participants</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock main %}