{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock head %}

{% block title %}Dashboard{% endblock title %}

{% block main %}
<div id="student_nav">
    <ul>
        <li><a href="/dashboard" class="active_student_nav">Dashboard</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/grades">Grades</a></li>
        <li><a href="/assignments">Assignments</a></li>
        <li><a href="/messages">Messages</a></li>
    </ul>
    <a href="/logout" id="logout">Logout</a>
</div>
<div id="student_dashboard">
    <h1>Hi, {{profile.name}} 👋</h1>
    <div id="dashboard_start">
        <div id="main_dashboard">
            <div id="semester_grades">
                <div id="sem_graph">
                    <h2>Semester's Grades</h2>
                    <canvas id="myChart" width="1000px" height=""></canvas>
                </div>
                <div id="sem_overall">
                    <div class="sem_overall_content">
                        <p class="overall_heading">CGPA</p>
                        <p class="overall_content" id="dashboard_cgpa">9.8</p>
                    </div>
                    <div class="sem_overall_content">
                        <p class="overall_heading">CREDITS</p>
                        <p class="overall_content" id="dashboard_credits">124.00</p>
                    </div>
                    <div class="sem_overall_content">
                        <p class="overall_heading">BRANCH</p>
                        <p class="overall_content">{{profile.username|striptags|slice:3}}</p>
                    </div>
                </div>
            </div>
            <div id="my_courses">
                <h2>My Courses</h2>
                <a href="courses" id="see_all_courses">See All <i class="fa-solid fa-xs fa-angle-right"></i></a>
                <div id="course_cards">
                    {% for course in courses %}
                    <div class="my_course_card">
                        <div class="course_name">
                            <img src="/media/{{course.icon}}">
                            <div class="course_name_inner">
                                <p class="course_code">{{course.code}}</p>
                                <p class="course_prof"><i class="fa-solid fa-user"></i> {{course.coordinators.name}}</p>
                            </div>
                        </div>
                        <div class="course_details">
                            <table>
                                <tr>
                                    <td><i class="fa-solid fa-clock"></i> Slot: {{course.slot}}</td>
                                    <td><i class="fa-solid fa-book"></i> &nbsp;{{course.credits}} Credits</td>
                                </tr>
                                <tr>
                                    <td><i class="fa-solid fa-university"></i> {{course.department}}</td>
                                    <td><i class="fa-solid fa-users"></i> {{course.students.count}} Students</td>
                                </tr>
                            </table>
                        </div>
                        <div class="view_course">
                            <a href="/courses/{{course.code}}">View Course</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div id="upcoming_assignments">
                <h2>Upcoming Assignments</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Due in</th>
                    </tr>
                    {% for assignment in assignments %}
                    <tr>
                        <td><a href="/assignments/{{assignment.course.code}}/{{assignment.name}}" class="assignment_link">{{assignment.name}}</td>
                        <td>{{assignment.course.code}}</td>
                        <td>{{assignment.due_date|naturaltime}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div id="side_menu">
            <div id="announcements">
                <h2>Announcements</h2>
                {% for announcement in announcements %}
                <p><a href="/announcements/{{announcement.course.code}}" class="announcement">{{announcement.course.code}}: {{announcement.title}}</a></p>
                {% endfor %}
                <p id="see_more_announce"><a href="announcements">See More <i class="fa-solid fa-xs fa-angle-right"></i></a></p>
            </div>
            <div id="online_now">
                <h2>Online Now</h2>
                {% for people in active %}
                {% if profile.username != people.username %}
                <div class="user_online">
                    <p class="user_online_name">{{people.name}}</p>
                    <a href="/messages/{{people.username}}"><i class="fa-solid fa-comment"></i></a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block footer %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3/dist/chart.min.js"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock footer %}