{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/participants.css' %}">
{% endblock head %}

{% block title %}Participants - {{course.code}}{% endblock title %}

{% block main %}
<div id="student_nav">
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/courses" class="active_student_nav">Courses</a></li>
        <li><a href="/grades">Grades</a></li>
        <li><a href="/assignments">Assignments</a></li>
        <li><a href="/messages">Messages</a></li>
    </ul>
    <a href="/logout" id="logout">Logout</a>
</div>
<div id="student_dashboard">
    <h1>{{course.code}} - Participants</h1>
    <div id="dashboard_start">
        <div id="main_dashboard">
            <table class="participant">
                <tr id="green_row">
                    <td>Name</td>
                    <td>Role</td>
                    <td>Email</td>
                </tr>
                {% for participant in participants %}
                <tr>
                    <td>{{participant.name}}</td>
                    <td>{{participant.userType}}</td>
                    <td><a href="mailto:{{participant.email}}">{{participant.email}}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock main %}